```config
.editorconfig
[*.java]

# Basic indentation settings
ij_java_use_relative_indents = true
ij_java_keep_indents_on_empty_lines = true

# Debatable.
ij_java_align_multiline_chained_methods = false

# Debatable.
ij_java_align_multiline_binary_operation = true

ij_java_align_multiline_parenthesized_expression = true  

# Debatable.
ij_java_align_multiline_ternary_operation = true

ij_java_align_multiline_text_blocks = false
ij_java_align_multiline_array_initializer_expression = false
ij_java_align_multiline_assignment = false
ij_java_align_multiline_parameters_in_calls = false  
ij_java_align_multiline_method_parentheses = false  
ij_java_align_multiline_annotation_parameters = false

# Debatable.
ij_java_align_multiline_records = true

ij_java_align_types_in_multi_catch = false  
ij_java_align_throws_keyword = true  
ij_java_align_group_field_declarations = false

# Method chain and builder methods
# ij_java_method_call_chain_wrap = normal
# ij_java_keep_builder_methods_indents = true
```